﻿@model Recruitment_Support_System.Models.CurriculumVitae.CV

@{
    ViewBag.Title = "Twoje CV";
}

<h2>Stwórz swoje CV</h2>
@if (Model != null)
{
    <div class="text-right">
        <a href="@Url.Action("CV", "Company", new { id = Model.User.Id })" class="btn btn-dark fa-align-right"><i class="fas fa-2x fa-print"></i></a>
    </div>
}


@using (Html.BeginForm("Save", "CV"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal card">
        <div class=" card-body">
            <h4>Curriculum Vitae</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("CvPartials/_Jobs", Model.Jobs)

            <p>
                <label type="button" class="btn btn-outline-dark" value="Dodaj pracę" data-toggle="modal" data-target="#jobmodal"><i class="fa fa-plus fa-lg"></i><span> &nbsp;&nbsp;Dodaj Pracę</span></label>
            </p>

            @Html.Partial("CvPartials/_Education", Model.Educations)
            <p>
                <label type="button" class="btn btn-outline-dark" value="Dodaj edukację" data-toggle="modal" data-target="#edumodal"><i class="fa fa-plus fa-lg"></i><span> &nbsp;&nbsp;Dodaj Edukację</span></label>
            </p>

            @Html.Partial("CvPartials/_Skills", Model.Skills)
            <p>
                <label type="button" class="btn btn-outline-dark" value="Dodaj umiejętności" data-toggle="modal" data-target="#skillmodal"><i class="fa fa-plus fa-lg"></i><span> &nbsp;&nbsp;Dodaj umiejętności</span></label>
            </p>

            @Html.Partial("CvPartials/_Courses", Model.Courses)
            <p>
                <label type="button" class="btn btn-outline-dark" value="Dodaj kursy" data-toggle="modal" data-target="#coursemodal"><i class="fa fa-plus fa-lg"></i><span> &nbsp;&nbsp;Dodaj kursy</span></label>
            </p>

            @Html.Partial("CvPartials/_Languages", Model.Languages.Select(l => new Recruitment_Support_System.Models.ViewModels.LanguageViewModel() { MyLanguageId = l.Id, Language = l.LanguageDictionary, Level = l.Level, Languages = Model.LanguagesDictionary.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Name }) }))
            <p>
                <label type="button" class="btn btn-outline-dark" value="Dodaj języki" data-toggle="modal" data-target="#languagemodal"><i class="fa fa-plus fa-lg"></i><span> &nbsp;&nbsp;Dodaj język</span></label>
            </p>

            @Html.Partial("CvPartials/_Intrests", Model.Intrests)
            <p>
                <label type="button" class="btn btn-outline-dark" value="Dodaj zainteresowania" data-toggle="modal" data-target="#interestmodal"><i class="fa fa-plus fa-lg"></i><span> &nbsp;&nbsp;Dodaj zainteresowanie</span></label>
            </p>

            <input type="submit" value="Zapisz" class="btn btn-raised btn-primary btn-block col-md-12" />
        </div>
    </div>
}

<div id="jobmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @{
                Html.RenderPartial("CvPartials/_AddJob", new Recruitment_Support_System.Models.CurriculumVitae.Job() { Start = DateTime.Today, End = DateTime.Today });
            }
        </div>
    </div>
</div>
<div id="edumodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @{
                Html.RenderPartial("CvPartials/_AddEducation", new Recruitment_Support_System.Models.CurriculumVitae.Education() { Start = DateTime.Today, End = DateTime.Today });
            }
        </div>
    </div>
</div>
<div id="skillmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @{
                Html.RenderPartial("CvPartials/_AddSkill", new Recruitment_Support_System.Models.CurriculumVitae.Skill());
            }
        </div>
    </div>
</div>
<div id="coursemodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @{
                Html.RenderPartial("CvPartials/_AddCourse", new Recruitment_Support_System.Models.CurriculumVitae.Course() { ValidTo = DateTime.Today, Passed = DateTime.Today });
            }
        </div>
    </div>
</div>
<div id="languagemodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @{
                Html.RenderPartial("CvPartials/_AddLanguage", new Recruitment_Support_System.Models.ViewModels.LanguageViewModel() { MyLanguageId = 0, Languages = Model.LanguagesDictionary.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Name }) });
            }
        </div>
    </div>
</div>
<div id="interestmodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @{
                Html.RenderPartial("CvPartials/_AddIntrest", new Recruitment_Support_System.Models.CurriculumVitae.Intrest());
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var id = "";
        var lenght = 0;
        $(".langs").change(function () {
            var item = $(this).find("option:selected");
            var value = item.val(); //get the selected option value
            var text = item.html(); //get the selected option text
            id = this.id.replace("langs", "");
            lenght = this.children.length;
            console.log(lenght);
            console.log(text);
            if (text == "Inny") {
                $("#add_content" + id).css("display", "block"); //display the add new dialog
            }
        });
        $(".langsBtn").click(function () {
            var newitem = $("#txtNewOption" + id).val(); //get the new value
            //alert(newitem);
            var newOption = "<option value='" + lenght + "'>" + newitem + "</option>";
            $(newOption).insertBefore($("#langs" + id + " option:last")); //add new option
            $("#langs" + id).val(lenght);
            $("#add_content" + id).css("display", "none");
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "Cv/AddNewLanguage?id=" + lenght + "&name=" + newitem, true);
            xhr.send();

            return false;
        });
    });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

