﻿@{
    ViewBag.Title = "Opracowanie i implementacja systemu wspomagania rekrutacji";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Celem pracy jest projekt i implementacja systemu wspomagania rekrutacji, umożliwiającego zarządzanie
    danymi związanymi z procesem rekrutacji, analizę danych oraz ocenę nadsyłanych CV z zastosowaniem
    algorytmów uczenia maszynowego oraz języka C#.
</p>
