﻿@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mariusz Lewczuk<br />
    Kielce<br />
    <abbr title="Numer telefonu">Telefon:</abbr>
    +48 725-502-788
    
</address>

<address>
    <strong>Email: </strong><a href="mailto:lewczuk.mariu@gmail.com">lewczuk.mariu@gmail.com</a><br />
</address>