﻿@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>System wspierania rekrutacji</h1>
    <p class="lead">w skrócie SWR, to system który pomaga rekruterom wybrać odpowiedniego kandydata na wybrane stanowisko.</p>
    <p><a href="Home/JobOffers" class=" btn btn-raised btn-primary btn-lg">Zacznij teraz &raquo;</a></p>
</div>