﻿@model IEnumerable<Recruitment_Support_System.Models.JobOffer>

@{
    ViewBag.Title = "Oferty";
}

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<div class="text-center">
    <input id="myInput" type="text" placeholder="Szukaj.." class="form-control form-control-underlined text-primary border-primary col-12 text-center">
    <hr />
</div>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobContract)
        </th>
        <th>
            Zarobki
        </th>
    </tr>
    <tbody id="myTable"
           @foreach (var item in Model) {<tr onclick="location.href = '@Url.Action("JobOffer", "Jobs", new { id=item.Id, returnUrl=HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "+" + this.ViewContext.RouteData.Values["action"].ToString() })'">
            <td>
                @Html.DisplayFor(modelItem => item.Title) <a style="color:slategrey"> w @Html.DisplayFor(modelItem => item.Company.Name) </a> @if (item.RemoteInterview)
                {<i title="Zdana rozmowa kwalifikacyjna" class="fas fa-headset float-right"></i>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobContract)
                @if (item.Remote)
                {<i title="Możliwość pracy zdalnej" class="fas fa-laptop-house float-right"></i>}
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZarobkiMin) - @Html.DisplayFor(modelItem => item.ZarobkiMax) @Html.DisplayFor(modelItem => item.Currency)
            </td>
        </tr>
    }
    </tbody>
</table>
