﻿@{
    ViewBag.Title = "Potwierdzenia E-Mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Dziękuję za potwierdzenie swojego Maila. Proszę @Html.ActionLink("Kliknij tutaj by się zalogować.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
