﻿@model Recruitment_Support_System.Models.ViewModels.DisplayEmailViewModel
@{
    ViewBag.Title = "Potwierdź E-mail";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Model.Text
        <br />
        Nie dostałeś wiadomości E-Mail? Kliknij @Html.ActionLink("tutaj", "ResendEmail", new { id = Model.Id }) by ją wysłać jeszcze raz.
    </p>
</div>
