﻿@{
    ViewBag.Title = "Potwierdzenie zapomnianego hasła";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Proszę sprawdź swojeg E-Mail w celu zresetowania hasła.
    </p>
</div>
	
