﻿@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Twoje hasło zostało pomyślnie zresetowanie. Kliknij @Html.ActionLink("tutaj ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })aby się zalogować.
    </p>
</div>
