﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SWR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*Google Fonts*@
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.css" integrity="sha512-ENnX3mn8eIEmPp8XJ30lCs82Ux76IHv3ZeK9Z4TGzmBDEyYmYodgeqFIw7207m3f1Lhl9t1nMzPxHF6p+YD5Pw==" crossorigin="anonymous" />*@
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.5.0/mdb.min.js" integrity="sha512-my3bXl1W6YG2tXcHrnYoykyRkSLlWqeyuNcFVaJ0X4IUGoeSyOeWUaIoU15yDO+iakoiLUnR0UR2h1lhvIB0jg==" crossorigin="anonymous"></script>*@
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js"></script>*@
    <button class="btn d-lg-none" style="left:88%" type="button" data-toggle="collapse" data-target="#example-collapse">
        <span class="navbar-light"><span class="navbar-toggler-icon"></span></span>
    </button>

    <div id="example-collapse" class="collapse d-lg-block">
        <!-- your card here -->
        <div class="navbar navbar-collapse nav-tabs bg-dark" @*style="padding-left:10%"*@>
            <ul class="nav navbar-tabs">
                <li class="nav-item">@Html.ActionLink("Strona główna", "Index", "Home", routeValues: null, htmlAttributes: new { id = "homeLink", @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("O projekcie", "About", "Home", routeValues: null, htmlAttributes: new { id = "aboutLink", @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Kontakt", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "contactLink", @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Ogłoszenia", "JobOffers", "Home", routeValues: null, htmlAttributes: new { id = "allOffersLink", @class = "nav-link" })</li>
                @if (Request.IsAuthenticated && User.IsInRole("User"))
                {
                    <li class="nav-item">@Html.ActionLink("Kreator CV", "Index", "Cv", routeValues: null, htmlAttributes: new { id = "cvCreatorLink", @class = "nav-link" })</li>
                }
                @if (Request.IsAuthenticated && User.IsInRole("Company"))
                {
                    <li class="nav-item">@Html.ActionLink("Twoje ogłoszenia", "Index", "Jobs", routeValues: null, htmlAttributes: new { id = "offersLink", @class = "nav-link" })</li>
                    @*<li class="nav-item">@Html.ActionLink("Sprawdź aplikacje", "Contact", "Home", routeValues: null, htmlAttributes: new { id = "applicationsLink", @class = "nav-link" })</li>*@
                }
            </ul>

            @Html.Partial("_LoginPartial")
            @*<ul class="nav navbar-tabs navbar-right">
                    <li class="nav-item pull-right">
                        <a class="nav-link" href="#">Active</a>
                    </li>
                    <li class="nav-item pull-right">
                        <a class="nav-link" href="#">Active</a>
                    </li>
                </ul>*@
        </div>
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SWR - Mariusz Lewczuk</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>


</html>
