﻿@model IEnumerable<Recruitment_Support_System.Models.CurriculumVitae.Course>

<h5>Kursy</h5>

<table class="table table-bordered table-striped table-hover">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Org)
        </th>
        <th width="100px">
            @Html.DisplayNameFor(model => model.Passed)
            @Html.DisplayNameFor(model => model.ValidTo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Org)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passed)
                @if (item.ValidTo.Equals(DateTime.MinValue))
                {
                    <label class="small">Nie wygasa</label>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ValidTo)
                }
            </td>
        </tr>
    }

</table>
