﻿@model IEnumerable<Recruitment_Support_System.Models.CurriculumVitae.Education>

<h5>Edukacja</h5>

<table class="table table-bordered table-striped table-hover">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th width="100px">
            @*@Html.DisplayNameFor(model => model.Start)
                @Html.DisplayNameFor(model => model.End)*@
            Od - Do
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
                @if (item.End.Equals(DateTime.MinValue))
                {
                    <label>Obecnie</label>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.End)
                }
            </td>
        </tr>
    }

</table>
