﻿@model IEnumerable<Recruitment_Support_System.Models.CurriculumVitae.Intrest>

<h5>Zainteresowania</h5>

<table class="table table-bordered table-striped table-hover">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-toggle="modal" data-target="@("#editintrestmodal" + item.Id)">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
