﻿@model IEnumerable<Recruitment_Support_System.Models.ViewModels.LanguageViewModel>

<h5>Języki</h5>

<table class="table table-bordered table-striped table-hover">
    <tr class="thead-light">

        <th>Nazwa</th>
        <th>Poziom</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(mi => item.Language.Name)
            </td>

            <td>
                @Html.DisplayFor(mi => item.Level)
            </td>
        </tr>
    }

</table>
