﻿@model IEnumerable<Recruitment_Support_System.Models.CurriculumVitae.Skill>

<h5>Umiejętności</h5>

<table class="table table-bordered table-striped table-hover">
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
        </tr>
    }

</table>
