﻿@model IEnumerable<Recruitment_Support_System.Models.ViewModels.ApplicationsViewModel>

@{
    ViewBag.Title = "Aplikacje";
}

@if (Model.Count() > 0)
{
    <h2>Aplikacje kandydatów na stanowisko - @Model.First().JobTitle, na poziomie - @Model.First().JobLevel</h2>
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th>
                Lp.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GotInteview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GotJob)
            </th>
            <th>CV</th>
        </tr>

        @{ int i = 0; }

        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.CheckBoxFor(m => item.GotInteview, new { @onclick = "UpdateGotInterview(this)", @data_userId = item.Id, @data_joId = item.JoId })
                </td>
                <td>
                    @Html.CheckBoxFor(m => item.GotJob, new { @onclick = "UpdateGotJob(this)", @data_userId = item.Id, @data_joId = item.JoId })
                </td>
                <td>
                    <a href="@Url.Action("CV", "Company", new { id = item.Id })" class="btn btn-dark"><i class="fas fa-file-invoice"></i></a>
                </td>
            </tr>
        }

    </table>
}
else
{
    <h4>Brak aplikujących na dane stanowisko</h4>
}
@Html.ActionLink("Powrót do listy", "Index")

<script>
function UpdateGotInterview(elem) {
    var isDone = $(elem).is(':checked');
    var uid = $(elem).data('userid');
    var joid = $(elem).data('joid');

    $.ajax({
        type: 'POST',
        url: "@Url.Action("UpdateGotInterview", "Jobs")",
        data: { check: isDone, uid: uid, joId: joid },
        success: function(res) {
        console.log(res);
        },
        dataType: 'json'
        });
        }
function UpdateGotJob(elem) {
    var isDone = $(elem).is(':checked');
    var uid = $(elem).data('userid');
    var joid = $(elem).data('joid');
        $.ajax({
        type: 'POST',
        url: "@Url.Action("UpdateGotJob", "Jobs")",
            data: { check: isDone, uid: uid, joId: joid },
        success: function(res) {
        console.log(res);
        },
        dataType: 'json'
        });
    }
</script>
