﻿@model Recruitment_Support_System.Models.ViewModels.ApplyViewModel
@{
    ViewBag.Title = "Gratulacje!";
}

<h2>Gratulacje!</h2>

<h3>Twoje Cv na stanowisko @Model.JobTitle zostało wysłane pomyślnie do firmy @Model.CompanyName</h3>
@Html.ActionLink("Wróć do ogłoszeń", "JobOffers", "Home", "", new { @class = "btn btn-outline-dark" })

