﻿@model IEnumerable<Recruitment_Support_System.Models.JobOffer>

@{
    ViewBag.Title = "Oferty";
}

<h2>Oferty pracy</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responsibilities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobContract)
        </th>
        <th style="width : 195px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-toggle="modal" style="color: @if (item.IsDeleted) { @:GrayText

            } else { @: black

            }  " data-target="@("#editoffermodal" + item.Id)">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsibilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobContract)
            </td>
            <td>
                <a href="@Url.Action("Applications", "Jobs", new { id = item.Id})" class="btn btn-dark"><i class="fas fa-id-card"></i></a>
                <a href="@Url.Action("JobOffer", "Jobs", new { id = item.Id, returnUrl=HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "+" + this.ViewContext.RouteData.Values["action"].ToString() })" class="btn btn-dark"><i class="fa fa-eye"></i></a>
                <a href="@Url.Action("DeleteOffer", "Jobs", new { id = item.Id })" class="btn btn-dark"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        <div id=@("editoffermodal" + item.Id ) class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    @{
                        Html.RenderPartial("_JobOffer", item);
                    }
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    }

</table>

<p>
    <label type="button" class="btn btn-outline-dark" value="Dodaj ofertę" data-toggle="modal" data-target="#offermodal"><i class="fa fa-plus fa-lg"></i><span> &nbsp;&nbsp;Dodaj Ofertę</span></label>
</p>

<div id="offermodal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            @{
                Html.RenderPartial("_JobOffer", new Recruitment_Support_System.Models.JobOffer() { ExpirationDate = DateTime.Now });
            }
        </div>
    </div>
</div>
