﻿@model Recruitment_Support_System.Models.ViewModels.JobViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Company.Name</h2>

@if (!Model.IsDeleted)
{
    <div>


        <h4>@Model.Title</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.About)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.About)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.JobLevel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobLevel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Responsibilities)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Responsibilities)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Requirements)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Requirements)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TeamSize)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TeamSize)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobContract)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobContract)
            </dd>

            <dt>
                Zarobki
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ZarobkiMin) - @Html.DisplayFor(model => model.ZarobkiMax) @Html.DisplayFor(model => model.Currency) @switch (Model.OkresRozliczeniowy)
                {
                    case Recruitment_Support_System.Models.Enums.billingPeriod.dzienny:
                        @:Dziennie
                        break;
                    case Recruitment_Support_System.Models.Enums.billingPeriod.godzinowy:
                        @:Godzinowo
                        break;
                    case Recruitment_Support_System.Models.Enums.billingPeriod.miesięczny:
                        @:Miesięcznie
                        break;
                    case Recruitment_Support_System.Models.Enums.billingPeriod.roczny:
                        @:Rocznie
                        break;
                    case Recruitment_Support_System.Models.Enums.billingPeriod.tygodniowy:
                        @:Tygodniowo
                        break;
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Remote)
            </dt>

            <dd>
                @if (Model.Remote)
                {@:Tak
                }
                else
                { @:Nie
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RemoteInterview)
            </dt>

            <dd>
                @if (Model.RemoteInterview)
                {@:Tak
                }
                else
                { @:Nie
                }
            </dd>


        </dl>
    </div>
    <p>
        @if (Request.IsAuthenticated && User.IsInRole("User"))
        {
            if (Model.Applied)
            {
                @Html.ActionLink("Już aplikowałeś na tą ofertę", "Apply", new { id = Model.Id }, new { @class = "btn btn-outline-dark col-md-4 disabled" })<br>
            }
            else
            {
                @Html.ActionLink("Aplikuj", "Apply", new { id = Model.Id }, new { @class = "btn btn-outline-dark col-md-4" }) <br>
            }
        }
        else
        {
            if (!User.IsInRole("Company"))
            {
                @Html.ActionLink("Aplikuj", "Apply", new { id = Model.Id }, new { @class = "btn btn-outline-dark col-md-4" }) <br>
            }
        }
    </p>
}
else
{
    <h4>@ViewBag.Message</h4>
}
@Html.ActionLink("Powrót do listy", (string)ViewBag.ReturnUrl, (string)ViewBag.ReturnControllerUrl)
