﻿@model Recruitment_Support_System.Models.ViewModels.LanguageViewModel


<div class="modal-header">
    <h4>Język</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
@using (Html.BeginForm("Language","CV",Model))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-vertical card">
            <div class=" card-body">
                @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
                <div class="form-group">
                    @Html.LabelFor(model => model.Language.Name, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Language.Id, Model.Languages, new { id = ("langs" + (Model.MyLanguageId == null ? "0" : Model.MyLanguageId.ToString())), @class = "form-select mdb-select md-form langs" })
                        <div id=@("add_content" + Model.MyLanguageId) style="display:none">
                            <input id=@("txtNewOption"+ Model.MyLanguageId) type="text" />
                            <input id=@("btnAddNewItem"+ Model.MyLanguageId) class="langsBtn" type="button" value="Dodaj nowy język" />
                        </div>
                        @*@Html.ValidationMessageFor(model => model.Languages, "", new { @class = "text-danger" })*@
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Level, EnumHelper.GetSelectList(typeof(Recruitment_Support_System.Models.Enums.LanguageLevel)), new { @class = "form-select mdb-select md-form" })
                        @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
}

@*TODO: zmienic wybieranie języka*@
@*TODO: fix showing and adding new lanuage*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
