﻿@model Recruitment_Support_System.Models.CurriculumVitae.Skill


<div class="modal-header">
    <h4>Umiejętności</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
@using (Html.BeginForm("Skill", "CV", Model))
{
    @Html.AntiForgeryToken()

    <div class="modal-body">
        <div class="form-vertical card">
            <div class=" card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Level, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Level, EnumHelper.GetSelectList(typeof(Recruitment_Support_System.Models.Enums.SkillLevel)), new { @class = "form-select mdb-select md-form" })
                        @Html.ValidationMessageFor(model => model.Level, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Zamknij</button>
        <input type="submit" value="Zapisz" class="btn btn-primary" />
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
