﻿@model IEnumerable<Recruitment_Support_System.Models.CurriculumVitae.Course>

<h5>Kursy</h5>

<table class="table table-bordered table-striped table-hover">
    @*<colgroup>
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 25%;">
            <col span="1" style="width: 500px;">
        </colgroup>*@
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Org)
        </th>
        <th width="100px">
            @Html.DisplayNameFor(model => model.Passed)
            @Html.DisplayNameFor(model => model.ValidTo)
        </th>
        @*<th>
            </th>*@
        <th style="width : 65px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-toggle="modal" data-target="@("#editcoursemodal" + item.Id)">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Org)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Passed)
                @if (item.ValidTo.Equals(DateTime.MinValue))
                {
                    <label class="small">Nie wygasa</label>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ValidTo)
                }
            </td>
            @*<td>
                </td>*@
            <td>
                @*<label type="button" class="btn btn-dark" data-toggle="modal" data-target=@("#editcoursemodal" + item.Id)><i class="fa fa-edit"></i></label>*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-info btn-md m-0 px-3" })*@
                <a href="@Url.Action("DeleteCourse", "CV", new { id = item.Id })" class="btn btn-dark"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        <div id=@("editcoursemodal" + item.Id ) class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    @{
                        Html.RenderPartial("CvPartials/_AddCourse", item);
                    }
                </div>
            </div>
        </div>
    }

</table>
