﻿@model IEnumerable<Recruitment_Support_System.Models.CurriculumVitae.Education>

<h5>Edukacja</h5>

<table class="table table-bordered table-striped table-hover">
    @*<colgroup>
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 11.5%;">
        </colgroup>*@
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th width="100px">
            @*@Html.DisplayNameFor(model => model.Start)
                @Html.DisplayNameFor(model => model.End)*@
            Od - Do
        </th>
        @*<th>
            </th>*@
        <th style="width : 65px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-toggle="modal" data-target="@("#editedumodal" + item.Id)">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
                @if (item.End.Equals(DateTime.MinValue))
                {
                    <label>Obecnie</label>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.End)
                }
            </td>
            @*<td>
                </td>*@
            <td>
                @*<label type="button" class="btn btn-dark" data-toggle="modal" data-target=@("#editedumodal" + item.Id)><i class="fa fa-edit"></i></label>*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-info btn-md m-0 px-3" })*@
                <a href="@Url.Action("DeleteEducation", "Cv", new { id = item.Id })" class="btn btn-dark"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        <div id=@("editedumodal" + item.Id ) class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    @{
                        Html.RenderPartial("CvPartials/_AddEducation", item);
                    }
                </div>
            </div>
        </div>
    }

</table>
