﻿@model IEnumerable<Recruitment_Support_System.Models.CurriculumVitae.Intrest>

<h5>Zainteresowania</h5>

<table class="table table-bordered table-striped table-hover">
    @*<colgroup>
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 2.55%;">
        </colgroup>*@
    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="width : 65px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-toggle="modal" data-target="@("#editintrestmodal" + item.Id)">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*<label type="button" class="btn btn-dark" data-toggle="modal" data-target=@("#editintrestmodal" + item.Id)><i class="fa fa-edit"></i></label>*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-info btn-md m-0 px-3" })*@
                <a href="@Url.Action("DeleteIntrest", "CV", new { id = item.Id })" class="btn btn-dark"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        <div id=@("editintrestmodal" + item.Id ) class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    @{
                        Html.RenderPartial("CvPartials/_AddIntrest", item);
                    }
                </div>
            </div>
        </div>
    }

</table>
