﻿@model IEnumerable<Recruitment_Support_System.Models.CurriculumVitae.Job>

<h5>Doświadczenie</h5>

<table class="table table-bordered table-striped table-hover">

    <tr class="thead-light">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th width="100px">
            @*@Html.DisplayNameFor(model => model.Start) i
                @Html.DisplayNameFor(model => model.End)*@
            Od - Do
        </th>
        <th style="width : 65px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-toggle="modal" data-target="@("#editjobmodal" + item.Id)">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
                @if (item.End.Equals(DateTime.MinValue))
                {
                    <label>Obecnie</label>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.End)
                }
            </td>
            <td>
                @*<label type="button" class="btn btn-dark" value="Dodaj pracę" data-toggle="modal" data-target=@("#editjobmodal" + item.Id)><i class="fa fa-edit"></i></label>*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-info btn-md m-0 px-3" })*@
                <a href="@Url.Action("DeleteJob", "CV", new { id = item.Id })" class="btn btn-dark"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        <div id=@("editjobmodal" + item.Id ) class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    @{
                        Html.RenderPartial("CvPartials/_AddJob", item);
                    }
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    }


</table>

