﻿@model IEnumerable<Recruitment_Support_System.Models.ViewModels.LanguageViewModel>

<h5>Języki</h5>

<table class="table table-bordered table-striped table-hover">
    @*<colgroup>
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 8%;">
            <col span="1" style="width: 5.65%;">
        </colgroup>*@
    <tr class="thead-light">

        <th>Nazwa</th>
        <th>Poziom</th>
        <th style="width : 65px"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr data-toggle="modal" data-target="@("#editlangmodal" + item.Language.Id)">
            <td>
                @Html.DisplayFor(mi => item.Language.Name)
            </td>

            <td>
                @Html.DisplayFor(mi => item.Level)
            </td>
            <td>
                @*<label type="button" class="btn btn-dark" data-toggle="modal" data-target=@("#editlangmodal" + item.Language.Id)><i class="fa fa-edit"></i></label>*@
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-info btn-md m-0 px-3" })*@
                <a href="@Url.Action("DeleteLanguage", "CV", new { id = item.MyLanguageId })" class="btn btn-dark"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        <div id=@("editlangmodal" + item.Language.Id ) class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    @{
                        Html.RenderPartial("CvPartials/_AddLanguage", item);
                    }
                </div>
            </div>
        </div>
    }

</table>
