﻿body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.grid-cvgrid {
    display: grid;
    grid-template-columns: 0.4fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "User Cv";
}

    .grid-cvgrid > div {
        display: inline-grid;
    }

/*.empty1 {
    grid-area: empty1;
}*/

.User {
    grid-area: User;
}

.Cv {
    grid-area: Cv;
}

/*.empty2 {
    grid-area: empty2;
}*/

.flexrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex !important;
}

    .flexrow > div {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
    }

/*.bg-darkgrey {
    background-color: #454343
}
.bg-lightgrey {
    background-color: lightgray
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: darkblue;
}*/
