﻿@model Recruitment_Support_System.Models.CurriculumVitae.CV
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*Google Fonts*@
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet" />
    <!-- MDB -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <title>CV - SWR</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


    <div class="container">
        <div class="row flexrow">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 form-horizontal card">
                <div class=" card-body">
                    <hr />
                    <h2> @Model.User.Name @Model.User.Surname </h2>

                    <h3>Curriculum Vitae</h3> <br /><br />
                    <dl class="dl-horizontal">


                        <dt class="h5">
                            @Html.DisplayNameFor(model => model.User.PhoneNumber)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.PhoneNumber)
                        </dd>
                        <br />
                        <dt class="h5">
                            @Html.DisplayNameFor(model => model.User.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Email)
                        </dd>
                        <br />

                        <dt class="h5">
                            @Html.DisplayNameFor(model => model.User.Age)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.User.Age)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-9 col-sm-9 col-md-9 col-lg-9 form-horizontal card">
                <div class=" card-body">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.Partial("CompanyCvPartials/_Jobs", Model.Jobs)
                    @Html.Partial("CompanyCvPartials/_Education", Model.Educations)
                    @Html.Partial("CompanyCvPartials/_Skills", Model.Skills)
                    @Html.Partial("CompanyCvPartials/_Courses", Model.Courses)
                    @Html.Partial("CompanyCvPartials/_Languages", Model.Languages.Select(l => new Recruitment_Support_System.Models.ViewModels.LanguageViewModel() { MyLanguageId = l.Id, Language = l.LanguageDictionary, Level = l.Level, Languages = Model.LanguagesDictionary.Select(x => new SelectListItem() { Value = x.Id.ToString(), Text = x.Name }) }))
                    @Html.Partial("CompanyCvPartials/_Intrests", Model.Intrests)
                </div>
            </div>
        </div>
    </div>
</body>
</html>
